@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #F7F8FB;
  color: #0B1320;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
